<h2>Login Page</h2>
<!-- <form [formGroup]="loginForm" (ngSubmit)="validateUser()" class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput formControlName="email" placeholder="email" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput:password
      formControlName="password"
      placeholder="password"
    />
  </mat-form-field>
</form> -->

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl" />
    <mat-error
      *ngIf="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    >
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Password"
      [formControl]="passwordFormControl"
    />
    <mat-error
      *ngIf="
        passwordFormControl.hasError('email') &&
        !passwordFormControl.hasError('required')
      "
    >
      Please enter a valid password address
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
