<h2>Login Page</h2>
<!-- <form [formGroup]="loginForm" (ngSubmit)="validateUser()" class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput formControlName="email" placeholder="email" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput:password
      formControlName="password"
      placeholder="password"
    />
  </mat-form-field>
</form> -->

<form
  class="example-form"
  (ngSubmit)="loginComponent()"
  [formGroup]="loginForm"
>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="emailFormControl" />
    <mat-error *ngIf="true">Email is required</mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Password"
      formControlName="passwordFormControl"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="button">
    Submit Form
  </button>
</form>
