table {
  width: 60%;
  margin-top: 30px;
}

mat-form-field {
  margin-top: 20px;
}

.actions {
  display: flex;
}

.date-created {
  margin-top: 20px;
}

mat-card {
  margin-left: 50px;
}
mat-icon {
  padding-right: 15px;
}
p {
  color: blue;
}
