<app-headercomponent></app-headercomponent>

<mat-progress-bar mode="indeterminate" *ngIf="isDataLoading"></mat-progress-bar>



 <button mat-fab id="openCreateFormBtn" (click)="openDialog()" color="primary">+</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

 <ng-container matColumnDef="dateCreated">
    <th mat-header-cell *matHeaderCellDef> Date Created </th>
    <td mat-cell *matCellDef="let element"> 
      <div class="actions">
      <div class="date-created">{{element.dateCreated}}</div>
    <mat-card>
       <mat-icon (click) = "editContact(element)">edit</mat-icon>
   <mat-icon  (click) = "deleteContact(element)">delete</mat-icon> </mat-card>
  </div>
 </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>




<!-- <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
